<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.commerce.mapper.GoodsTypeMapper">

    <resultMap id="BaseResultMap" type="com.commerce.entity.GoodsType">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="lable" column="lable" jdbcType="CHAR"/>
            <result property="value" column="value" jdbcType="CHAR"/>
            <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
            <result property="img" column="img" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,lable,value,
        parent_id,img
    </sql>
</mapper>
